/* Empty. Add your own CSS if you like */
.zero-padding {
	padding: 0px !important;
}

.item-divider{
	background-color: #886aea;
	/* background-color: #11c1f3; */
}

/* changing the text color of list headings to white */
.item-divider{
	background-color: #4b2e83;
	color: #fff;
}

.calendar{
	background-color: #999999;
}

.calfont{
	font-size: 10px;
}

.divcenter{
	text-align:center;
}

.range{
	margin-top: 150px; /* hard coding margins to prevent overlap of divs */
    margin-bottom:200px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg) translateX(-300px); /* Chrome, Safari, Opera */
    transform: rotate(-90deg) translateY(-120px); /* hardcoding Y translation to move div from screen center to side. */
}

.range i.icon{
    -ms-transform: rotate(90deg);  /* IE 9 */
    -webkit-transform: rotate(90deg);  /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  } 